<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
        </Console>

        <File name="file" fileName="finance-manager.log">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS} - %-5level ] %msg%n"/>
        </File>

        <Async name="asyncFile">
            <AppenderRef ref="file"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="asyncFile"/>
        </Root>
    </Loggers>
</Configuration>